{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}

{% block title %}JournalAI{% endblock %}
{% block stylesheet %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock%}
{% block body_class %}home-page{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card card-glass rounded-5 justify-content-center align-items-center">
            <img src="../static/assets/img/logo.png" width="20%">
            
        </div>
    </div>
    <div id="journal-entries" class="d-flex flex-column justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow-lg text-center rounded-5 w-85 card-glass">
            <h1 class="display-4 fw-bold mb-3">Hello {{user_name}}</h1>
            
            <a href="#how-it-works" class="learn-link text-muted text-center align-items-center mt-4 text-decoration-none">
                <span>Learn More</span><br>
                <span class="fs-4 arrow-down">&#x2193;</span>
            </a>                
        </div>      
    </div>

      
</div>
{% endblock %}
