{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}

{% block title %}JournalAI{% endblock %}
{% block stylesheet %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock%}
{% block body_class %}home-page{% endblock %}
{% block content %}
<div class="container">
    <div id="greet-user" class="d-flex justify-content-center align-items-center vh-100">
        <div class="card card-glass rounded-5 justify-content-center align-items-center">
            <img src="../static/assets/img/logo.png" width="20%">
            <h1> Hello {{user_name}}</h1>
        </div>
    </div>

    <div id="new-entry" class="vh-100">
        <button>New Entry</button>
    </div>

    <div id="trends" class="vh-100">
        <h2>Streak 🔥: 8 days in a row</h2>
        <p>😃 Mood trend: Mostly positive this week</p>
    </div>

    <div id="request-insights" class="vh-100">
        <h3>📅 Request Insight: </h3>
        <button>Recap my week</button>
        <button>Recap my month</button>
        <button>Deeper Insight</button>
    </div>

    <div id="journal-entries" class="d-flex flex-column justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow-lg text-center rounded-5 w-85 card-glass">
            <h3 class="fw-bold mb-3">Recent Entries:</h3>     
            <p>😊 May 6: "Summary snippet..." <a>View</a></p>    
            <p>😐 May 5: "Summary snippet..." <a>View</a></p>   
            <p>😴 May 4: "Summary snippet..." <a>View</a></p>
        </div>      
    </div>

</div>
{% endblock %}
